/* ========================================
   CSS File Contents
   ======================================== */

/* Google Fonts */
/* ======================== */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Gajraj+One&family=Gemunu+Libre&family=Inter:wght@400;800&family=Montagu+Slab:wght@400;500&family=New+Rocker&family=Ribeye&display=swap');

/* Page layout */
/* ========== */
body {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Sections Sizing */
/* ======= */
section {
    height: 100vh;
    width: 100vw;
}

/* Layout Styling for Quote 1 */
/* ======= */
#quote1 {
    background-color: #BFDBF7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Box Styling For Quote 1 */
/* =========== */
p {
    background-color: #F4F4FF;
    width: 300px;
    height: 340px;
    border: 2px solid #E3E3EB;
    border-radius: 10px;
    padding: 20px;
}

/* Span Tags & Auther Name Banner Styling */
/* ====== */
span:nth-child(1) {
    display: block;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: #F71752;
}

span:nth-child(2) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 265px;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #1E205B;
    border-top: 3px dashed lightcoral;
    border-bottom: 3px dashed lightcoral;
}

span:nth-child(3) {
    display: block;
    padding-top: 10px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 6.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #F71752;
}

span:nth-child(4) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7px;
    color: white;
    background-color: #1E205B;
}

.quote1-author {
    margin-top: 20px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    background-color: #F71752;
    color: white;
    border-radius: 0px 15px 15px 15px;
}

/* Styling and layout for Quote 2 */
/* ======== */
#quote2 {
    background-color: #CCEDAC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling for the Quote Icons */
/* ========== */
.quote-sign {
    width: 4rem;
    margin-left: -300px;
    display: block;
    transform: matrix(0.99, -0.1, 0, 1, 0, 0);
}

#inverted {
    margin-left: 300px;
    rotate: 180deg;
}

/* Background box styling for Quote 2*/
/* ============== */
#quote2 p {
    background-color: #011920;
    width: 300px;
    height: 250px;
    padding: 30px;
    border-radius: 0;
    border: 0;
    transform: matrix(0.99, -0.1, 0, 1, 0, 0);
}

/* Span tags and Author Banner Styling for Quote 2 */
/* =============== */
#quote2 span:nth-child(1) {
    display: inline-block;
    margin: auto;
    font-family: 'Ribeye', cursive;
    font-size: 2.5rem;
    text-transform: lowercase;
    text-align: center;
    color: #CCEDAC;
}

#quote2 span:nth-child(2) {
    display: inline-block;
    width: max-content;
    margin: auto;
    font-family: 'Montagu Slab', serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: lowercase;
    text-align: center;
    color: #CCEDAC;
    border-top: 2px dotted #CCEDAC;
    border-bottom: 2px dotted #CCEDAC;
}

#quote2 span:nth-child(3) {
    display: block;
    margin: auto;
    padding-top: 10px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2.5rem;
    text-transform: lowercase;
    text-align: center;
    color: #CCEDAC;
}

#quote2 span:nth-child(4) {
    display: block;
    margin: auto;
    width: 300px;
    font-family: 'New Rocker', cursive;
    font-size: 3rem;
    letter-spacing: normal;
    background-color: transparent;
    text-transform: lowercase;
    text-align: center;
    color: #CCEDAC;
}

#quote2 span:nth-child(5) {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2.5rem;
    text-transform: lowercase;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 3px solid #CCEDAC;
    color: #CCEDAC;
}

.quote2-author {
    margin-top: -90px;
    margin-right: -200px;
    padding: 10px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.2rem;
    background-color: #F53100;
    color: white;
    border-radius: 0;
    border: 0;
    transform: matrix(0.99, -0.1, 0, 1, 0, 0);
}

/* Bottom info (Github) Banner */
/* =============== */
.info-banner {
    z-index: 1000;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    background-color: #ffffffa8;
    color: black;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

.info-banner a {
    font-weight: bold;
    text-decoration: none;
    color: #F71752;
}
.info-banner a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/*  */
/* ============= */

/* ========================================
   End of CSS File
   ======================================== *